* {
  margin: 0;
  padding: 0;
  overflow: visible;
}

body {
  background-color: black;
  color: white;
  text-align: center;
}
.hero {
  display: grid;
  grid-template: 1fr/ 1fr 1fr 1fr 1fr;
  background-color: teal;
  height: 75vh;
  box-sizing: border-box;
}

.hero img {
  width: 100%;
  height: auto;
}

header {
  height: 25vh;
  box-sizing: border-box;
  grid-column: 1 / 5;
  background-color: black;
  position: sticky;
  top: 0;
  padding: 1rem;
}

h1 {
  font-size: 2.4rem;
  margin: 0.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 6rem;
}

header li {
  text-decoration: underline;
  font-weight: 800;
  cursor: pointer;
  font-size: 1.2rem;
}

header.small-nav {
  padding: 0.2rem 1rem;
  font-size: 2rem;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.small-nav ul{
  gap: 2rem;
}
header.small-nav h1{
  margin: 0.2rem;
}

.about {
  padding: 10vh 15vw;
  background: linear-gradient(0.45turn, #3f87a6, #f69d3c);
  color: black;
}

.about img {
  width: 50vw;
  height: auto;
  border-radius: 1rem;
  margin: 1.5rem;
}

.about h2 {
  font-size: 2rem;
}

.about p {
  font-size: 1.25rem;
}