* {
  margin: 0;
  padding: 0;
  overflow: visible;
}

:root {
  --main-blue: rgb(0,167,222);
  --main-orange: rgb(227,177,46);
}

body {
  background-color: black;
  color: white;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}


.hero {
  display: grid;
  grid-template: 1fr/ 1fr 1fr 1fr 1fr;
  background-color: teal;
  height: 75vh;
  box-sizing: border-box;
}

header {
  height: 25vh;
  box-sizing: border-box;
  grid-column: 1 / 5;
  background-color: black;
  position: sticky;
  top: 0;
  padding: 1rem;
}

h1 {
  font-size: 2.4rem;
  margin: 0.5rem;
}

h2 {
  font-size: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 6rem;
}

header li {
  text-decoration: underline;
  font-weight: 800;
  cursor: pointer;
  font-size: 1.2rem;
}

header.small-nav {
  padding: 0.2rem 1rem;
  font-size: 2rem;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.small-nav ul{
  gap: 2rem;
}
header.small-nav h1{
  margin: 0.2rem;
}

.about {
  padding: 10vh 15vw;
  background: linear-gradient(0.45turn, var(--main-blue), var(--main-orange));
  color: black;
}

.about img {
  width: 50vw;
  height: auto;
  border-radius: 1rem;
  margin: 1.5rem;
}



.about p {
  font-size: 1.25rem;
}

/* Menu */
.menu {
  background-image: url("./img/menu/vadim-kaipov-_vlvybucSew-unsplash.jpg");
  background-size: cover;
  background-repeat: repeat;
  padding: 3rem 0rem;
}

.menu > div > div {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template: 1fr / 20vw 20vw 20vw;
  justify-content: center;
  gap: 3rem;
  color: black;
  /* grid-auto-columns: 1fr; */
}

.menu > div {
  margin: 2.5rem 0rem 5rem 0rem;
}

.menu h3 {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.menu > div > div > div {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.menu > div:nth-child(even) > div > div:nth-child(odd), 
.menu > div:nth-child(odd) > div > div:nth-child(even)  {
  background-color: var(--main-blue);
}

.menu > div:nth-child(even) > div > div:nth-child(even) , 
.menu > div:nth-child(odd) > div > div:nth-child(odd) {
  background-color: var(--main-orange);
}

